@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* imported Lato font */

.header {
  background: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8rem;
  height: 80px;
}
.header a {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  margin-left: 32px;
}
.header a:hover {
  color: orange;
}
